{% extends "base.html" %}
{% block title %}
Bienvenido a Reserva la Cancha
{% endblock title %}

{% block head %}
<style type="text/css" media="screen">
  <!--
  #map{height: 400px;}

-->
</style>  
{% endblock head%}

{% block body %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=es&callback=iniciar"></script>

<script>

function loadURL(marker) {
    return function () {
        window.location.href = marker.url;
    }
}
  function iniciar() {
    var mapOptions = {
      center: new google.maps.LatLng(-27.451384, -58.986691),
      zoom: 13,
      scrollwheel:false,
      mapTypeId: google.maps.MapTypeId.ROADMAP};
      var map = new google.maps.Map(document.getElementById("map"),mapOptions);  
      
      {% for complejo in complejos %}
        var marker =  new google.maps.Marker({
          position: new google.maps.LatLng({{complejo.latitud|stringformat:"f" }}, {{complejo.longitud|stringformat:"f"}})
          , title: '{{complejo.nombre}}'
          , map: map
          , url: 'complejo/{{complejo.pk}}'
          , });
        google.maps.event.addListener(marker, 'click', loadURL(marker));
      {% endfor %}
}
</script>

<div id="map"></div>

<div class="jumbotron center">
  <div class="container">
    <h2 class="text-center">¡Tenemos canchas en todo Resistencia, buscá tu deporte y comenzá a <strong>reservar!</strong></h2>
  
  <form class="form-horizontal" role="form" action="/search" method="get">
    <div class="input-group">
        
          <input type="search" class="form-control" name='q' placeholder="Ingresa el deporte a buscar. Por ejemplo: Futbol 11, Futbol 5, Basquet, Tenis, Golf, Paddle, etc.">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Buscar</button>
          </span>
        
    </div>
    </form>

  </div>
</div>
{% endblock body %}