{% extends "base.html" %}

{% block title %}
Reservas
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/list.css">
{% endblock head%}
 {% block body %}
<div class="jumbotron center">

	<div class="container">

		  {% if messages %}
 
      {% for message in messages %}
        <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>{{message}}</strong>
      </div>
      {% endfor %}

  		{% endif %}
		<div class="row">
		{% for result in results %}
			<div class="col-md-6 itemList">
				<div class="col-md-6 element" >
					<img src="{{ result.cancha.imagen.url }}">
				</div>
				<div class="col-md-6">
					<h4><strong>Complejo: </strong> {{result.cancha.complejo.nombre}}</h4>
					<h4><strong>Direccion: </strong> {{result.cancha.complejo.direccion}}</h4>
					<h4><strong>Deporte: </strong> {{result.cancha.deporte.nombre}}</h4>
					<h4><strong>Cancha: </strong> {{result.cancha.numero_cancha}}</h4>
					<h4><strong> Precio: </strong>{{result.cancha.precio_por_turno}}</h4>
					<h4><strong>Fecha: </strong>{{result.fecha}}</h4>
					<h4><strong>Hora: </strong>{{result.hora}}:00hs</h4>
					<h4><strong> Estado: </strong> {{result.estado}}</h4>
					<h4><strong> Cliente: </strong>{{result.usuario.username}}</h4>
					
					{% if result.fecha.day >= today.day and result.fecha.month >= today.month and result.fecha.year >= today.year %}
							{% ifequal result.estado 'Pendiente de aprobacion' %}
							<form id="form_aceptar_reserva_{{result.pk}}" role="form" action="/moderar/" method="post">
			              		{% csrf_token %}
			              		<input name="id_reserva" type="hidden" value="{{result.pk}}">
			              		<input name="estado" type="hidden" value="Aprobada por el propietario">
								<button class="btn btn-success reservar" type="submit">Aprobar</button>
							</form>

							<form id="form_rechazar_reserva_{{result.pk}}" role="form" action="/moderar/" method="post">
			              		{% csrf_token %}
			              		<input name="id_reserva" type="hidden" value="{{result.pk}}">
			              		<input name="estado" type="hidden" value="Rechazada por Propietario">
								<button class="btn btn-danger reservar" style="margin-right: 5px;" type="submit">Rechazar</button>
							</form>

						{% endifequal %}
					{% endif %}
				</div>
			</div>

			{% if forloop.counter|divisibleby:2 %}
			</div>
                    <div class="row">
                        {% endif %}
                        {% endfor %}
        </div>
			
	</div>
	
</div>


{% endblock body %}